<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <% include ./models/bs_css.ejs%>
  </head>
  <body>
    <% include ./navbar.ejs%>
    <h1>Hi ， <%= title %></h1>
    <h1><%= title %></h1>
    <% include ./models/bs_js.ejs%>
    
  </body>
</html>